.carousel-item-height {
  height: 550px;
}

.carousel-caption{
  background-color: rgba(165, 222, 228, 0.7);
  color: $dark;
  @media (max-width: 576px) {
    bottom: 25%;
  }
}

.home-avatar {
  height: 285px;
  border-radius: 50%;
  background-image: url($images+'/avatar.jpeg');
  background-size: cover;
  background-position: 40% 30%;
}

.mobile-home-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url($images+'/avatar.jpeg');
  background-size: cover;
  background-position: 40% 30%;
}