$font-family: 
/*1. 指定已知的系統 UI 字體*/ "YuGothic", "Yu Gothic",
  "Microsoft JhengHei", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  /*2. 系統預設字體*/ -apple-system, BlinkMacSystemFont,
  /*3. 備援字體*/ sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$images: '~@/assets/images/';

.bg-cover {
  background-size: cover;
  background-position: center center;
}